<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">diputado activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Dear
        </p>
        <!-- <p th:text="#{email.activation.text1}">
            Tu cuenta de diputado ha sido creada, porfavor haz click en el siguiente link para establecer tu contraseña:
        </p> -->
        <p>
            Tu cuenta de diputado ha sido activada, porfavor haz click en el siguiente link para establecer tu contraseña:
        </p>
        <p>
            <!-- <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"
               th:text="@{|${baseUrl}/#/activate?key=${user.activationKey}|}">Activation Link</a> -->
            <a th:href="@{|${baseUrl}/#/?keyReset=${user.resetKey}|}"
             th:text="@{|${baseUrl}/#/?keyReset=${user.resetKey}|}">Login link</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">diputado.</em>
        </p>
    </body>
</html>
